# SPDX-License-Identifier: Apache-2.0
#
# Application Kconfig entry point. Browse via `west build -t menuconfig`.

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
